{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget_price %}
    {% autoescape false %}
        {% if config('PreiseWeg.config.showWhenLoggedIn') == true %}
            {% if context.customer %}
                <div class="product-detail-price-container">
                    {% sw_include '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}
                </div>
            {% else %}
                <div>{{ config('PreiseWeg.config.htmlShownWhenNotLoggedIn')|raw }}</div>
            {% endif %}
        {% endif %}
    {% endautoescape %}
{% endblock %}

{% block buy_widget_tax %}
    {% autoescape false %}
        {% if config('PreiseWeg.config.showWhenLoggedIn') == true %}
            {% if context.customer %}
                <div class="product-detail-tax-container">
                    {% if context.taxState == 'gross' %}
                        {% set taxText = 'general.grossTaxInformation'|trans|sw_sanitize %}
                    {% else %}
                        {% set taxText = 'general.netTaxInformation'|trans|sw_sanitize %}
                    {% endif %}

                    <p class="product-detail-tax">
                        {% block buy_widget_tax_link %}
                            <a class="product-detail-tax-link"
                                href="{{ path('frontend.cms.page', { id: config('core.basicInformation.shippingPaymentInfoPage') }) }}"
                                title="{{ taxText }}"
                                data-ajax-modal="true"
                                data-url="{{ path('frontend.cms.page', { id: config('core.basicInformation.shippingPaymentInfoPage') }) }}">
                                {{ taxText }}
                            </a>
                        {% endblock %}
                    </p>
                </div>
            {% endif %}
        {% endif %}
    {% endautoescape %}
{% endblock %}